extends layouts/main

block content
    .form__container
        form(action=routes.changeInfo, method="post")
            input(type="text", name="userId", value=user.userId, placeholder="ID",  readonly)
            input(type="text", name="nickname", value=user.nickname, placeholder="Nickname", required)
            input.btn__changePassword.no-underline.button-radius(type="button" value="Change Password")
            .input__password.unclicked 
                input(type="password", name="oldPassword", placeholder="Old Password") 
                input(type="password", name="newPassword", placeholder="New Password") 
                input(type="password", name="newPassword2", placeholder="Verify New Password") 
            input(type="submit", value="Change Info")