extends layouts/main

block content
    if loggedUser
        span.greeting Hello 
            span.username= loggedUser.nickname
            | ! Have a productive day ✨
    aside 
            include ./partials/calender